#snackbar {
  min-width: 250px; 
  margin-left: -125px;
  text-align: center; 
  border-radius: 2px;
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
  font-weight: 500;
  font-size: 24px;
  border-radius: 4px;
}

#snackbar.successMessage {
  background-color: rgb(56, 142, 60);
  color: rgba(0, 0, 0, 0.87);
}

#snackbar.errorMessage {
  background-color: rgb(211, 47, 47);
  color: rgb(255, 255, 255);
}

